
{% extends 'base.html' %}
{% block content %}
{% include 'includes/navbar.html'%}
<div class="p-5">
  <div class="container">
    <h2 class="text-center pb-5">Reset you password here!</h2>
    <form class="row g-3" method="post" action="{% url 'forgot_password' %}">
      {% csrf_token %}
      <div class="col-12">
        <label class="form-label">Email</label>
        <input type="email" class="form-control", name = 'email' required>
      </div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Reset Password</button>
      </div>
    </form>
    <div class="row">
      <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
          {% include 'includes/alerts.html' %}
    </div>
  </div>
</div>


{% endblock %}
